h3 {
  margin-left: 15px;
}
.fileInput {
  padding: 10px;
  cursor: pointer;
} 
.imgPreview {
  text-align: center;
  height: calc(100% - 95px);
  width: 100%;
  border: 2px solid indianred;
  
  img {
    width: 100%;
    height: 100%;
  }
}
.previewText {
  width: 100%;
  margin-top: 20px;
}
.submitButton {
  padding: 12px;
  margin-left: 10px;
  background: white;
  border: 4px solid lightgray;
  border-radius: 15px;
  font-weight: 700;
  font-size: 10pt;
  cursor: pointer;
  &:hover {
    background: #efefef;
  }
}
.centerText {
  text-align: center;
  width: 500px;
} 