.collection-node {
    position: absolute;
    background: none;

    width: 300px;
    height: 300px;
    overflow: hidden;
    // background: burlywood;
    // border-radius: 10px;
    // border: 2px solid black;
    outline: none;

    .removeButton {
        border-radius: 50%;
        position: absolute;
        width: 18px;
        height: 18px;
        right:25%;
        font-size: 12px;
        border: 1px solid black;
        background: white;
        text-align: center;
    }

    .removeButton:hover{
        cursor: pointer;
        background: red;
    }

        
    &.minimized {
        width: 30px;
        height: 30px;
    }

    .top {
        background: #232323;
        height: 20px;
        cursor: pointer;
        width: 75%;
        box-sizing: border-box
    }
    
    .resizer{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        z-index: 1;

    }

    .resizer_bottom-right {
       
        cursor: nwse-resize;
        right: 25%;
        bottom: -5px;
    }

    .resizer_top-right {
       
        right: 25%;
        top: -5px;
        cursor: nesw-resize;
    }

    .resizer_bottom-left {
       
        left: -5px;
        bottom: -5px;
        cursor: nesw-resize;
    }

    .resizer_top-left {
       
        left: -5px;
        top: -5px;
        cursor: nwse-resize;
    }

    .content {
        padding: 20px 20px;
        height: auto;
        box-sizing: border-box;
        text-align: center;

    }

    .scroll-box {
        // overflow-y: scroll;
        height: calc(100% - 20px);
        width: 75%;
        background: burlywood;
        border-radius: 10px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border: 2px solid black;
        box-sizing: border-box;
        .gridformcanvas-container {
            position: absolute;
            top: 20;
            left: 0;
            width: 75%;
            height: calc(100% - 20px);
            overflow: hidden;
            background-size: cover;
            box-sizing: border-box;
            border: 2px solid black;
            border-radius: 10px;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
        
        }
    }
}

