.link-container {
    // width: 150px;
    // height: 50px;
    overflow: scroll;

    .link-list {
        width: 100%;
        font-size: 12px;

        li:hover {
            color: blue;
            cursor: pointer;
        }
    }
}