.dashRect {
    width: 100%;
    margin-bottom: 10px;
    height: 10%;
    z-index: 1;
    position: absolute;

    .node_adders {
        background: yellow;
        color: black;
        border-radius: 15px;
        border: 1px solid black;
        margin: 10px;
        padding: 10px;
        outline: none;
    }
}