.dashRect {
    width: 100%;
    background: aqua;
    margin-bottom: 10px;
    height: 10%;

    .node_adders {
        background: yellow;
        color: black;
        border-radius: 10%;
        border: 1px solid black;
    }
}